@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
    /* Если не получилось, загрузит woff2 */
  url("../fonts/roboto.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
  url("../fonts/roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-display: swap;
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-decoration: none;
  background-color: #ffffff;
}

a{
  text-decoration: inherit;
  color: inherit;
}

img{
  max-width: 100%;
}

.visually-hidden{
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.main-wrapper{
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header{
  background-color: #eeeeee;
  min-height: 115px;
  display:flex;
}

.no-bullet{
  margin: 0;
  padding:0;
  list-style: none;
}

.navigation{
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

.main-menu__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.main-menu__item{
  margin-left: 44px;
  position: relative;
}

.main-logo{
  min-width: 160px;
}

.main-menu__link:hover,
.main-menu__link:focus{
  color: #fb565a;
}

.main-menu__link:active{
  color: #000000;
  opacity: 0.3;
}

.main-menu__link--current::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  bottom: -2px;
  right:0;
}

.main-menu__link--current:hover,
.main-menu__link--current:focus{
  color: #000000;
}

.main-menu__link--basket{
  display: inline-block;
  margin-left: 35px;
}

.main-menu__link--basket::before{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 5px;
}

.main-menu__link--logo:hover,
.main-menu__link--logo:focus{
  opacity: 0.8
}

.main-menu__link--logo:active{
  opacity: 0.3;
}

.slider{
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider__wrapper{
  position:relative;
  display:flex;
  flex-direction: column;
}

.slider__list{
  position: relative;
  height: 413px;
}

.slider__slide-name{
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
  margin:0;
}

.slide-wrapper{
  display: none;
  height: 100%;
  width: 100%;
  margin-right: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
}

.slider__slide-1{
  background-image: url("../img/slide1.png");
}

.slider__slide-2{
  background-image: url("../img/slide2.png");
}

.slider__slide-3{
  background-image: url("../img/slide3.png");
}

.slider__slide--show{
  display: flex;
}

.no-js-hide{
  display:none;
}

.slider__controls{
  align-self: center;
  position: absolute;
  bottom: 95px;
}

.slider__controls-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider__controls-item{
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.slider__control{
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider__control:disabled,
.slider__control[disabled=""],
.slider__control[disabled="true"],
.slider__control[disabled="disabled"]
{
  cursor: default;
}

.slider__control-indicator{
  display: none;
  position: absolute;
  top:13px;
  left:5px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: #000000 solid 3px;
  border-radius: 50%;
  opacity: 0.3;
}

.slider__control-indicator--current{
  display: block;
}

.services__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__item{
  width: 300px;
  margin: 0 50px 80px 50px;
}

.services__item:nth-child(3n+1){
  margin-left: 0;
}

.services__caption{
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}
.about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
}

.about__column-left{
  width: 660px;
}

.about__lead{
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: 500;
  margin-top: 40px;
}

.caption{
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.item-bullet{
  margin-left: 34px;
  margin-bottom: 28px;
  position: relative;
}

.item-bullet::before{
  position: absolute;
  top: 14px;
  left: -32px;
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about__column-right{
  width:360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__rates-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__rates-item{
  margin-right: 15px;
}
.about__rates-text{
  line-height: 20px;
}

.about__rate{
  display: block;
  font-size: 45px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 25px;
}

.perсent{
  vertical-align: super;
  font-size: 30px;
}

.clients__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.clients__item{
  margin:0 auto;
}

.clients__link{
  opacity: 0.2;
}

.clients__link:hover,
.clients__link:focus{
  opacity: 1;
}

.clients__link:active {
  opacity: 0.1;
}

.contacts{
  position: absolute;
  top: 54px;
  width: 319px;
  padding: 50px;
  background-color: #ffffff;
}

.social-links{
  display: flex;
  flex-direction: row;
  height: 217px;
  align-items: center;
}

.social-links__list{
  display: flex;
  flex-direction: row;
  margin-right: 140px;
}

.social-links__item{
  width: 78px;
  height: 78px;
  margin-right: 12px;
}

.social-links__link{
  width: 100%;
  height: 100%;
  display:flex;
  background-color: #e1e1e1;
  border-radius: 39px;
  justify-content: center;
  align-items: center;
}

.social-links__link:hover,
.social-links__link:focus{
  background-color: #e74246;
}

.social-links__link:active{
  background-color: #d7373b;
}

.social-links__link:active > .social-links__icon{
  opacity: 0.3;
}

.social-links__lead{
  display: block;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
}

.button{
  width: auto;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 13px 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fb5559;
}

.button:hover,
.button:focus{
  background-color: #e74246;
}

.button:active{
  background-color: #d7363a;
}

.button--green{
  background-color: #00c973;
}

.button--green:hover,
.button--green:focus{
  background-color: #00bc6b;
}

.button--green:active{
  background-color: #00aa61;
}

.button--yellow{
  background-color: #efc749;
}

.button--yellow:hover,
.button--yellow:focus{
  background-color: #eab434;
}

.button--yellow:active{
  background-color: #e5a722;
}

.form-button{
  background-color: #ededed;
  color: #000000;
  padding-left: 88px;
  padding-right: 88px;
}

.form-button:hover,
.form-button:focus{
  background-color: #dfdfdf;
}

.form-button:active{
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  border-top: 3px solid rgba(0, 0, 0, 0.3);
}

.pagination-button{
  padding: 0;
  width: 50px;
  height: 50px;
}

.pagination-button--current,
.pagination-button--current:hover,
.pagination-button--current:focus,
.pagination-button--current:active{
  color: #000000;
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
  cursor: default;
}


hr{
  padding:0;
  margin:0;
  border:none;
  border-top: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
}

.main-footer{
  position: relative;
}

.map{
  height: 416px;
  background-color: #e1e1e1;
}

.contacts__caption{
  margin-top:0;
}

.hr--margin-bottom{
  margin-bottom: 80px;
}

.main-caption-wrapper{
  height: 241px;
  background-color: #eeeeee;
  padding-top:80px;
}

.main-caption {
  font-size: 55px;
  color: #000000;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.columns-container{
  display: flex;
  flex-direction: row;
}

.catalog-form{
  margin-top: 20px;
  min-width: 400px;
}

.catalog-form__fieldset{
  border: none;
  margin:0;
  padding:0;
}

.catalog__caption{
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
}

.catalog-form__item{
  margin-bottom: 18px;
}

.checkbox{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.checkbox__text{
  display: inline-block;
  margin-left: 10px;
  color: #283136;
}

.checkbox__indicator{
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.checkbox__hidden:checked + .checkbox__indicator{
  background-image: url("../img/checkbox-on.svg");
}

.checkbox__indicator:hover,
.checkbox:hover > .checkbox__indicator,
.checkbox__hidden:focus + .checkbox__indicator{
  opacity: 1;
}


.radiobutton{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.radiobutton__text{
  display: inline-block;
  margin-left: 10px;
  color: #283136;
}

.radiobutton__indicator{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.radiobutton__hidden:checked + .radiobutton__indicator{
  background-image: url("../img/radio-on.svg");
}

.radiobutton__indicator:hover,
.radiobutton:hover > .radiobutton__indicator,
.radiobutton__hidden:focus + .radiobutton__indicator{
  opacity: 1;
}

.catalog__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.catalog__item{
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.catalog__item:hover{
  filter: drop-shadow(0px 6px 8px rgba(0,1,1,0.25));
  outline: 1px solid rgba(77,77,77,0.1);
}

.catalog__item:hover > .catalog__buy-link::before,
.catalog__item:hover > .catalog-card{
  opacity:1;
}

.catalog__buy-link:focus::before,
.catalog__buy-link:focus + .catalog-card{
  opacity:1;
}

.catalog__buy-link::before{
  display:block;
  content: "";
  width: 100%;
  height: 40px;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.catalog-card{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eeeeee;
  width: 100%;
  height: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  opacity:0;
}

.catalog-card__caption{
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 20px;
}

.catalog-card__text{
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: center;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 25px;
}

.catalog-card__button{
  width: 200px;
}

.catalog__buy-link{
  display: block;
  height: 616px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.pagination__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.catalog__group-by{
  display: flex;
  margin: 20px 0;
}

.catalog-controls__wrapper{
  margin-left: auto;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-controls__list{
  display: flex;
  align-items: center;
}

.catalog-controls__list--group-by{
  margin-right:auto;
  justify-content: flex-start;
  margin-left:-14px;
}

.catalog-controls__list--order{
  margin-left: auto;
  justify-content: flex-end;
  margin-right: -5px;
}

.catalog__control{
  display: block;
  background-color: inherit;
  border: none;
  font-weight: inherit;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
  cursor: pointer;
  padding: 0;
  margin: 0;
  height: 100%;
}

.catalog__control--group-by{
  padding: 10px 14px;
}

.catalog__control--order{
  padding: 10px 5px;
}

.catalog__control:hover,
.catalog__control:focus{
  opacity: 0.6;
}

.catalog__control:active{
  opacity: 1;
}

.catalog__control--current,
.catalog__control--current:hover,
.catalog__control--current:focus,
.catalog__control--current:active{
  opacity: 1;
  cursor: default;
}

.pagination__item{
  margin: 0 10px 10px 0;
}

.form-range{
  width: 262px;
  margin-bottom: 20px;
}

.range-scale__wrapper{
  position: relative;
  height: 82px;
  background-color: #ededed;
  padding-top: 40px;
  padding-left: 21px;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 14px;
}

.range__scale{
  display: block;
  width: 220px;
  height: 1px;
}

.range__scale--max{
  margin-top: -3px;
}

.range-values__wrapper{
  display: flex;
  justify-content: space-between;
}

.range-value {
  display: inline-block;
  width: 80px;
  height: 38px;
  background-color: #ededed;
  border: none;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
}

.range-value__label{
  color: #283136;
  text-transform: uppercase;
}

.form-button--filter{
  margin-top: 20px;
}

.modal{
  display: none;
  position: fixed;
  z-index: 10;
  filter: drop-shadow(0px 30px 25px rgba(0,1,1,0.75));
}

.modal-show{
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.blocker{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
}

.blocker-show{
  display: block;
}

.close-button{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70px;
  right: 85px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.close-button:after,
.close-button:before{
  position: absolute;
  top: 12px;
  left: 1px;
  display: block;
  content: "";
  width: 28px;
  height: 4px;
  background-color: #fb565a;
  opacity: 0.3;
}

.close-button:after{
  transform: rotate(45deg);
}

.close-button:before{
  transform: rotate(-45deg);
}

.close-button:hover:before,
.close-button:hover:after,
.close-button:focus:before,
.close-button:focus:after{
  opacity: 1;
}

.close-button:active:before,
.close-button:active:after{
  opacity: 0.1;
}

.feedback-page{
  bottom: 180px;
  left: calc(50% - 480px);
  width: 960px;
  height: 590px;
  background-color: #ffffff;
  padding: 60px 100px 80px 100px;
}

.feedback__form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback__lead{
  margin-top: 0;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: 500;
}

.feedback__label{
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  font-weight: 700;
}

.form-text-input{
  background-color: inherit;
  border: 2px solid #d7dbdd;
  color: #d7dcde;
  border-radius: 3px;
  display: block;
  margin-bottom: 34px;
  padding: 10px;
}

.form-text-input:hover{
  color: #b4b9bb;
  border-color: #b4b9bb;
}

.form-text-input:focus{
  color: #000000;
  border-color: #000000;
}

.form-text-input:invalid{
  color: #e74246;
  border-color: #e74246;
  box-shadow: none;
}

.feedback__name, .feedback__email{
  width: 360px;
  height: 50px;
}

.feedback__message{
  width: 760px;
  height: 118px;
  resize: none;
}

.feedback__button{
  width: 260px;
  margin-top: 10px;
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
