@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
    /* Если не получилось, загрузит woff2 */
  url("../fonts/roboto.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
  url("../fonts/roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-display: swap;
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-decoration: none;
  background-color: #ffffff;
}

a{
  text-decoration: inherit;
  color: inherit;
}

img{
  max-width: 100%;
}

.visually-hidden{
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.main-wrapper{
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header{
  background-color: #eeeeee;
  min-height: 115px;
  display:flex;
}

.no-bullet{
  margin: 0;
  padding:0;
  list-style: none;
}

.navigation{
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

.main-menu__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.main-menu__item{
  margin-left: 44px;
}

.main-logo{
  min-width: 160px;
}

.slider{
  background-color: #eeeeee;
}

.slider__slide-name{
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
  margin:0;
}

.slide-wrapper{
  height: 413px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: right;
  background-repeat: no-repeat;
}

.slider__slide-1{
  background-image: url("../img/slide1.png");
}

.slider__slide-2{
  background-image: url("../img/slide2.png");
}

.slider__slide-3{
  background-image: url("../img/slide3.png");
}

.services__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__item{
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}

.services__item:nth-child(3n+1){
  margin-left: 0;
}
