@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
    /* Если не получилось, загрузит woff2 */
  url("../fonts/roboto.woff2") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
  url("../fonts/roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
  font-display: swap;
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-decoration: none;
  background-color: #ffffff;
}

a{
  text-decoration: inherit;
  color: inherit;
}

img{
  max-width: 100%;
}

.visually-hidden{
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

.main-wrapper{
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header{
  background-color: #eeeeee;
  min-height: 115px;
  display:flex;
}

.no-bullet{
  margin: 0;
  padding:0;
  list-style: none;
}

.navigation{
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

.main-menu__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.main-menu__item{
  margin-left: 44px;
}

.main-logo{
  min-width: 160px;
}

.slider{
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.slider__wrapper{
  position:relative;
  display:flex;
  flex-direction: column;
}

.slider__list{
  position: relative;
  height: 413px;
}

.slider__slide-name{
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
  margin:0;
}

.slide-wrapper{
  display: none;
  height: 100%;
  width: 100%;
  margin-right: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
}

.slider__slide-1{
  background-image: url("../img/slide1.png");
}

.slider__slide-2{
  background-image: url("../img/slide2.png");
}

.slider__slide-3{
  background-image: url("../img/slide3.png");
}

.slider__slide--show{
  display: flex;
}

.no-js-hide{
  display:none;
}

.slider__controls{
  align-self: center;
  position: absolute;
  bottom: 95px;
}

.slider__controls-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider__controls-item{
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.slider__control{
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider__control:disabled,
.slider__control[disabled=""],
.slider__control[disabled="true"],
.slider__control[disabled="disabled"]
{
  cursor: default;
}

.slider__control-indicator{
  display: none;
  position: absolute;
  top:13px;
  left:5px;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border: #000000 solid 3px;
  border-radius: 50%;
  opacity: 0.3;
}

.slider__control-indicator--current{
  display: block;
}

.services__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__item{
  width: 300px;
  margin: 0 50px 80px 50px;
}

.services__item:nth-child(3n+1){
  margin-left: 0;
}

.services__caption{
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}
.about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
}

.about__column-left{
  width: 660px;
}

.about__lead{
  font-size: 45px;
  line-height: 45px;
  color: #000000;
  font-weight: 500;
  margin-top: 40px;
}

.caption{
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.item-bullet{
  margin-left: 34px;
  margin-bottom: 28px;
  position: relative;
}

.item-bullet::before{
  position: absolute;
  top: 14px;
  left: -32px;
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about__column-right{
  width:360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__rates-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__rates-item{
  margin-right: 15px;
}
.about__rates-text{
  line-height: 20px;
}

.about__rate{
  display: block;
  font-size: 45px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 25px;
}

.perсent{
  vertical-align: super;
  font-size: 30px;
}

.clients__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.clients__item{
  margin:0 auto;
}

.clients__link{
  opacity: 0.2;
}

.clients__link:hover,
.clients__link:focus,
.clients__link:active{
  opacity: 1;
}

.contacts{
  position: absolute;
  top: 54px;
  width: 319px;
  padding: 50px;
  background-color: #ffffff;
}

.social-links{
  display: flex;
  flex-direction: row;
  height: 217px;
  align-items: center;
}

.social-links__list{
  display: flex;
  flex-direction: row;
  margin-right: 140px;
}

.social-links__item{
  width: 78px;
  height: 78px;
  border-radius: 39px;
  background-color: #e1e1e1;
  margin-right: 12px;
}

.social-links__item:hover,
.social-links__item:focus,
.social-links__item:active{
  background-color: #e74246;
}

.social-links__link{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.social-links__lead{
  display: block;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
}

.button{
  width: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 13px 40px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: #fb5559;
}

.button:hover,
.button:focus{
  background-color: #e74246;
}

.button:active{
  background-color: #d7363a;
}

.button--green{
  background-color: #00c973;
}

.button--green:hover,
.button--green:focus{
  background-color: #00bc6b;
}

.button--green:active{
  background-color: #00aa61;
}

.button--yellow{
  background-color: #efc749;
}

.button--yellow:hover,
.button--yellow:focus{
  background-color: #eab434;
}

.button--yellow:active{
  background-color: #e5a722;
}

hr{
  padding:0;
  margin:0;
  border:none;
  border-top: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
}

.main-footer{
  position: relative;
}

.map{
  height: 416px;
  background-color: #e1e1e1;
}

.contacts__caption{
  margin-top:0;
}

.hr--margin-bottom{
  margin-bottom: 80px;
}

.main-menu__link:hover,
.main-menu__link:focus{
  color: #fb565a;
}

.main-menu__link:active{
  color: #000000;
  opacity: 0.3;
}

.main-menu__link--logo:hover,
.main-menu__link--logo:focus{
  opacity: 0.8
}

.main-menu__link--logo:active{
  opacity: 0.3;
}
